.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 05rem;
    text-align: justify;
}

.title h1 {
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    font-weight: bold;
    margin-bottom: 2rem;
    background-color: var(--azulClaro);
    padding: 1rem;
    color: white;
}

.title p {
    font-family: 'Exo';
    font-weight: lighter;
    line-height: 1.5rem;
}