.table {
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Exo';
  }

  .table1 {
    border-collapse: collapse;
    margin: 1rem 6.5rem;
    font-family: 'Exo';
  }
    
  .evenRow {
    background-color: #30B479;
  }
  
  .oddRow {
    background-color: white;
  }
  
  td, th {
    padding: px;
    text-align: center;
    border: 1px solid black;
  }
  
  
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Exo';
    text-align: justify;
    padding: 2rem 5rem;
  }
  
  .name h1 {
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--amarelo);
    padding: 1rem;
    color: white;
    border-radius: 10px;
  }

  .name > h2 {
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--amarelo);
    padding: 1rem;
    color: white;
    border-radius: 10px;
  }

  .name > span {
    align-items: center;
    justify-content: center;
    text-align: center;
  }