.navBarContainer{
    background-color: var(--rosaClaro);
    height: 8rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem 0.5rem 5rem;
}

.link {text-decoration: none;}

.btn {
    display: flex;
    gap: 2rem;
    text-decoration: none;
}


.btn button{
    background-color: var(--branco);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font: 'Exo';
    color: var(--rosaClaro);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    width: 8.6rem;
    height: 4.18rem;
    align-items: center;
    justify-content: center;
}

.btn button:hover {
    border: solid 1px var(--rosaEscuro);
    background: var(--cinza3);
}